[upload]
github="dummy"
[projects]
dir="projects/"
version='''
(lambda (universal-time)
  (let* ((time (multiple-value-list (decode-universal-time universal-time)))
         (timestamp (reverse (subseq time 0 6))))
    (format nil "铂О濑糸礤篝犴皓┅Ё