[upload]
github="snmsts/mirror-dist" # edit here for your account
[projects]
dir="projects/"
version='''
(lambda (universal-time)
  (let* ((time (multiple-value-list (decode-universal-time universal-time)))
         (timestamp (reverse (subseq time 0 6))))
    (format nil "铂О濑糸礤篝犴皓┅Ё箫螋鲥蝮轱罱Ё灬礅溽疳蝮瀛轭翦珏疳蝮瀛轭翦珏┅Ё